body {
    margin: 0;
    padding: 0;
    background-color:black;
}
#map1{ 
	height: 100%;
	width: 50%;
	float: left;
	} 
#map2 {
	height: 100%;
	width: 50%;
	float: right;
}
#splasher {
	height: 400px;
	width: 600px;
	border-radius: 2px;
	background-color: gray;
	position: absolute;
    top: 0;
	bottom: 0;
	margin-top: 5px;
	margin-bottom: auto;
	left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#header1 {
    background-color:black;
    color:#e8e4e4;
    text-align:CENTER;
    padding:5px;
      top: 0px;
  left: 0px;
  width: 49%;
  float:left;
  font-family: Helvetica;
}
#header2 {
    background-color:black;
    color:#e8e4e4;
    text-align:CENTER;
    padding:5px;
      top: 0px;
  right: 0px;
  width:49%;
  float:right;
  font-family: Helvetica;
}	
