body {
    margin: 0;
    padding: 0;
    background-color:black;
}
#map1{ 
	height: 100%;
	width: 50%;
	float: left;
	} 
#map2 {
	height: 100%;
	width: 50%;
	float: right;
}
#splasher {
	height: 575px;
	width: 620px;
	border-radius: 8px;
	background-color: black;
	position: absolute;
    	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
    	margin-left: auto;
    	margin-right: auto;
  	font-family: Helvetica;
  	font-size:17;
  	color: white;
  	padding: 20px;
  	z-index: 999;
}

#header1 {
    background-color:black;
    color:#e8e4e4;
    text-align:CENTER;
    padding:5px;
      top: 0px;
  left: 0px;
  width: 45%;
  float:left;
  font-family: Helvetica;
}
#header2 {
    background-color:black;
    color:#e8e4e4;
    text-align:CENTER;
    padding:5px;
      top: 0px;
  right: 0px;
  width:45%;
  float:right;
  font-family: Helvetica;
}
#trigger1 {
	position: absolute;
	left: 45%;
	top:10px;
	z-index: 999;
}
#trigger2 {
	position: absolute;
	right: 15px;
	top:10px;
	z-index:999;
}

#footer {
    background-color:black;
    color:#e8e4e4;
    text-align:LEFT;
    padding:1px;
  right: 0px;
  width:100%;
  float:bottom;
  font-family: Helvetica;
}


.one a {
    text-decoration: none;
}
